/* RESET */
* {
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */
html{
    font-family: 'Times New Roman', Times, serif;
}

/* HEADER */
header{
    background-color: #6397d0;
    height: 125px;
    background-image: url("../img/pattern.png");
}

#logo {
    width: 300px;
    height: 60px;
    padding-top: 50px;
    padding-left: 5px;
}

/* MAIN */
.text-grey{
    color: grey;
}
.text-small{
    font-size: 12px;
}

main{
    margin-left: 5px;
}
 main section span{
    color: #6397d0;
}

h1 {
    margin-top: 20px;
}

main p span{
    background-color: rgba(255, 255, 0, 0.7);
}

/* tabella */
table{
    border-collapse: collapse;
    width: 100%;
    padding-right: 20px;
}
.button {
    background-color: rgb(1, 179, 244);
    color: white;
    text-align: left;
}

.background-blue{
    background-color: rgb(171, 244, 252);
    margin-bottom: 5px;
}

tbody tr {
    height: 60px;
}

th{
    text-align: left;
}

td{
    width: 50px;
}
/* FOOTER */

.text{
    color: white;
}

.item{
    background-image: url("../img/monitor.jpg");
    height: 200px;
    width: 300px;
}
.item1{
    background-image: url("../img/graph.jpg");
    height: 200px;
    width: 300px;
}

#container{
    text-align: center;
}

