/* RESET */
* {
    margin: 0;
    box-sizing: 0;
}

/* COMMON */
html{
    font-family: 'Times New Roman', Times, serif;
}

/* HEADER */
header{
    background-color: #6397d0;
    height: 125px;
    background-image: url("/Users/filippovite/Applications/classe73/html-css-booleaner/img/pattern.png");
}

#logo {
    width: 300px;
    height: 75px;
    padding-top: 50px;
    padding-left: 5px; 
}

/* MAIN */
.text-grey{
    color: grey;
}
.text-small{
    font-size: 12px;
}

main{
    margin-left: 5px;
}
 main section span{
    color: #6397d0;
}

h1 {
    margin-top: 20px;
}

main p span{
    background-color: rgba(255, 255, 0, 0.7);
}
.table{
    border-collapse: collapse;
    
}
.button {
    background-color: rgb(1, 143, 244);
    color: white;
    text-align: left;
}

.background-blue{
    background-color: rgb(0, 174, 255);
    margin-bottom: 5px;
}